# Ignore built executables
/nob
/build/*
!/build/raylib.dll
!/build/libwinpthread-1.dll
/client_gui
/server_gui
/server
/ClientApp_Release
/received
/Docs
*.log
*.bak
*.plist
server_gui
client_gui
server
*.exe
*.log
*.zip
*.bak
